USE [master]
GO
/****** Object:  Database [SWQuot]    Script Date: 01-02-2023 15:41:10 ******/
CREATE DATABASE [SWQuot]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DoorQuot', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DoorQuot.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DoorQuot_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DoorQuot_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SWQuot].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SWQuot]
GO
/****** Object:  User [lokesh]    Script Date: 01-02-2023 15:41:10 ******/
CREATE USER [lokesh] FOR LOGIN [lokesh] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [admin]    Script Date: 01-02-2023 15:41:10 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[tbl_City]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_City](
	[Id] [int] NOT NULL,
	[StateId] [int] NOT NULL,
	[CityName] [nchar](10) NOT NULL,
 CONSTRAINT [PK_tbl_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Country]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Country](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_CustomerAddress]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_CustomerAddress](
	[AddressCode] [nvarchar](50) NULL,
	[CustomerName] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[District] [nvarchar](50) NOT NULL,
	[State] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
	[Address1] [nvarchar](50) NOT NULL,
	[Address2] [nvarchar](50) NOT NULL,
	[Address3] [nvarchar](50) NOT NULL,
	[Pincode] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Customers]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Customers](
	[CustID] [nvarchar](50) NOT NULL,
	[CustName] [nvarchar](50) NOT NULL,
	[MobNo] [nvarchar](50) NOT NULL,
	[AltMobNo] [nvarchar](50) NOT NULL,
	[EmailID] [nvarchar](50) NOT NULL,
	[DOB] [date] NOT NULL,
	[GSTNo] [nvarchar](50) NULL,
	[BillTo] [nvarchar](15) NULL,
	[ShipTo] [nvarchar](15) NULL,
 CONSTRAINT [PK_tbl_Customes] PRIMARY KEY CLUSTERED 
(
	[CustID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_FooterDisplay]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_FooterDisplay](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](50) NOT NULL,
	[MobNo] [varchar](11) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_FooterDisplay] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_GST]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_GST](
	[ID] [int] NOT NULL,
	[StateID] [nvarchar](50) NOT NULL,
	[GST] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_tbl_GST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Payment]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Payment](
	[TransationID] [nvarchar](50) NOT NULL,
	[QuotID] [nvarchar](50) NOT NULL,
	[TotalAmt] [decimal](18, 0) NOT NULL,
	[AmtPaid] [decimal](18, 0) NOT NULL,
	[Discount] [decimal](18, 0) NOT NULL,
	[Balanced] [decimal](18, 0) NOT NULL,
	[PaymentType] [nvarchar](50) NOT NULL,
	[UPI] [nvarchar](50) NULL,
	[BankTransfer] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_Payment] PRIMARY KEY CLUSTERED 
(
	[TransationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ProductCategory]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ProductCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nchar](20) NOT NULL,
 CONSTRAINT [PK_tbl_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ProductImg]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ProductImg](
	[Position] [int] NOT NULL,
	[ProductID] [nvarchar](100) NOT NULL,
	[ImgName] [nvarchar](100) NULL,
	[ImgPath] [nvarchar](200) NULL,
	[ProductColour] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Position] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ProductPrice]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ProductPrice](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [nvarchar](50) NOT NULL,
	[FromDate] [date] NULL,
	[ToDate] [date] NULL,
	[NetPrice] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_tbl_ProductPrice] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Products]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Products](
	[ProductID] [nvarchar](50) NOT NULL,
	[ProductCatogery] [nvarchar](50) NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[Height] [decimal](18, 0) NULL,
	[Width] [decimal](18, 0) NULL,
	[Depth] [decimal](18, 0) NULL,
	[Thickness] [decimal](18, 0) NULL,
	[UOM] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_QuotHeader]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_QuotHeader](
	[QuatID] [nvarchar](50) NOT NULL,
	[QuotationDate] [date] NULL,
	[BillTo] [nvarchar](50) NULL,
	[ShipTo] [nvarchar](50) NULL,
	[GrossAmt] [decimal](18, 0) NULL,
	[DiscountAmt] [decimal](18, 0) NULL,
	[NetAmt] [decimal](18, 0) NULL,
	[TotalAmt] [decimal](18, 0) NULL,
	[Advance] [decimal](18, 0) NULL,
	[Balance] [decimal](18, 0) NULL,
	[Taxcode] [nvarchar](50) NULL,
	[CGST] [nvarchar](50) NULL,
	[SGST] [nvarchar](50) NULL,
	[IGST] [nvarchar](50) NULL,
	[TaxPrice] [nvarchar](50) NULL,
	[ShipmentCost] [decimal](18, 0) NULL,
	[IntallationCost] [decimal](18, 0) NULL,
	[ModifiedDate] [date] NULL,
	[Approved] [nvarchar](10) NULL,
	[CustID] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_QuotId]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_QuotId](
	[Series] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[No] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_QuotLiner]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_QuotLiner](
	[QuatID] [nvarchar](50) NOT NULL,
	[Position] [int] NOT NULL,
	[ProductID] [nvarchar](50) NOT NULL,
	[Qty] [int] NOT NULL,
	[DiscountInPer] [decimal](18, 0) NULL,
	[ProductName] [nvarchar](100) NULL,
	[DiscountInRs] [nvarchar](50) NULL,
	[TotalPrice] [decimal](18, 0) NULL,
	[ProductPrice] [decimal](18, 0) NULL,
	[DiscountInNo] [decimal](18, 0) NULL,
	[ModifiedDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuatID] ASC,
	[Position] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_SharedView]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SharedView](
	[MenuCode] [nvarchar](50) NOT NULL,
	[ViewCode] [nvarchar](50) NULL,
	[MenuName] [nvarchar](50) NOT NULL,
	[ParentMenu] [nvarchar](50) NULL,
	[MenuPath] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_States]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_States](
	[StateID] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_States] PRIMARY KEY CLUSTERED 
(
	[StateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Taxes]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Taxes](
	[TaxCode] [int] IDENTITY(1,1) NOT NULL,
	[TaxName] [nvarchar](50) NOT NULL,
	[Taxper] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_TaxesComponent]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_TaxesComponent](
	[TaxCode] [int] NOT NULL,
	[Component] [nvarchar](50) NOT NULL,
	[Taxper] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UOM]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UOM](
	[UOMCode] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserLogin]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserLogin](
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[MobNo] [nvarchar](50) NULL,
	[role] [nvarchar](50) NULL,
	[Image] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tbl_WorkerLogins] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserRole]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserRole] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_UserRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserViews]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserViews](
	[Role] [nvarchar](50) NOT NULL,
	[Position] [varchar](20) NOT NULL,
	[MenuCode] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Role] ASC,
	[Position] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SWQuot_AddCustomer]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SWQuot_AddCustomer]
   
	@t_cnam nvarchar(50)=null,
	@t_cadd nvarchar(100)=null,
	@t_cmob nvarchar(100)=null,
	@t_catm nvarchar(100)=null,
	@t_cmai nvarchar(100)=null,
	@t_cdob nvarchar(100)=null,
	@t_cgst nvarchar(100)=null,
	@SId nvarchar(50)=null,
	@State nvarchar(50)=null,
	@Pincode nvarchar(50)=null,
	@City nvarchar(50)=null,
	@District nvarchar(50)=null,
	@Country nvarchar(50)=null,
	@Add1 nvarchar(50)=null,
	@Add2 nvarchar(50)=null,
	@Add3 nvarchar(50)=null,
	@billto nvarchar(50)=null,
	@shipto nvarchar(50)=null,
	@Landmark nvarchar(50)=null,
	@choice varchar(100)=null,
	@new_identity nvarchar(10)=null output,
	@Return nvarchar(50) output
	
AS
BEGIN
    declare @Id nvarchar(50)
	declare @add nvarchar(50)
	--SET NOCOUNT ON;

	if @choice='check'
	begin
	If exists (select * from tbl_Customers where @t_cmob=MobNo)
	     begin  
		    select @Return = 1 
		 end
	Else
	      Begin
		    select @Return = 0
		  end 
    end

	if @choice='Exist'
	begin
	  select * from tbl_Customers where @t_cmob=MobNo
	end

	if @choice='Insert'
	begin
	  set @Id=(select Series + RIGHT('000000000' + CONVERT(nvarchar,No),6) from tbl_QuotId where Name='Customers')

	       Insert into tbl_Customers
		   (CustID,CustName,BillTo,MobNo,AltMobNo,EmailID,DOB,GSTNo,ShipTo)
		   values
		   (@Id,@t_cnam,@billto,@t_cmob,@t_catm,@t_cmai,@t_cdob,@t_cgst,@shipto)
		   set @Return = @Id
		   --return @Return

		   if @@ROWCOUNT>0
		   begin
			update tbl_QuotId set No = No+1  where Series='CUS'
		   end
	end

	if @choice='AddAddress'
	begin
	  set @add=(select Series + RIGHT('000000000' + CONVERT(nvarchar,No),6) from tbl_QuotId where Name='Address')

	       Insert into tbl_CustomerAddress
		   (AddressCode,CustomerName,City,District,State,Country,Address1,Address2,Address3,Pincode)
		   values
		   (@add,@t_cnam,@City,@District,@State,@Country,@t_cadd,@Add2,@Add3,@Pincode)
		   set @Return = @add

		   if @@ROWCOUNT>0
		   begin
			update tbl_QuotId set No = No+1  where Series='ADD'
		   end

	end

END


GO
/****** Object:  StoredProcedure [dbo].[SWQuot_AddNewImg]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SWQuot_AddNewImg]
    @ProdID nvarchar(50)=null,
	@ImgPath nvarchar(500)=null,
	@ImgName nvarchar(100)=null
AS
BEGIN
    declare @PId nvarchar
	declare @PColour nvarchar

	if exists(select Position from tbl_ProductImg where ProductID = @ProdID)
	   begin
	     set @PId = ((select max(Position) from tbl_ProductImg where ProductID = @ProdID)+1);
	   end
	else
	   begin
	     set @PId='1';
	   end
	set @PColour = (select top 1 ProductColour from tbl_ProductImg where ProductID = @ProdID);
	SET NOCOUNT ON;
	insert into tbl_ProductImg
	         (Position,ProductID,ImgName,ProductColour,ImgPath) 
	         values
	         (@PId,@ProdID,@ImgName,@PColour,@ImgPath)

END
GO
/****** Object:  StoredProcedure [dbo].[SWQuot_AddProduct]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SWQuot_AddProduct]
	@ProdCatogery nvarchar(50)=null,
	@ProdName nvarchar(100)= null,
	@ImgPath nvarchar(500)=null,
	@PColour nvarchar(50)=null,
	@ImgName nvarchar(100)=null,
	@PPrice nvarchar(100)=null,
	@PId nvarchar(100)=null,
	@Position nvarchar(100)=null,
	@Height decimal =null,
	@Width decimal =null,
	@Depth decimal =null,
	@Thickness decimal =null,
	@UOM nvarchar(10)=null,
	@delete INT=null OUTPUT,
	@return nvarchar(100)=null OUTPUT,
	@Back nvarchar(100)=null OUTPUT,
	@P int OUTPUT,
	@choice varchar(100)=null

	
AS
BEGIN
	declare @Prod bigint
	declare @ProdID nvarchar(50)
	declare @Post nvarchar(50)
	declare @ProductID bigint
	declare @ProdList nvarchar
	declare @OldPostion bigint
	

	SET NOCOUNT ON;
	If @choice='Insert'
	   begin

			--Add to tbl_Products
	        insert into tbl_Products
	        (ProductID,ProductCatogery,ProductName,Height,Width,Depth,Thickness,UOM)
	        values
		    (@PId,@ProdCatogery,@ProdName,@Height,@Width,@Depth,@Thickness,@UOM)
		    set @Prod=SCOPE_IDENTITY()

			--Add to tbl_ProductImg
			SELECT MAX(Position) FROM tbl_ProductImg
                If exists (select Position from tbl_QuotLiner where ProductID=@PId)
	              begin  
		             select @Post=max(Position)+1 from tbl_QuotLiner where ProductID=@PId
		          end
	            Else
	              Begin
		            select @Post=1
		          end 

			insert into tbl_ProductImg
	        (Position,ProductID,ImgName,ProductColour,ImgPath) 
	        values
	        (@Post,@PId,@ImgName,@PColour,@ImgPath)
			

			--Add to tbl_ProductPrice
			insert into tbl_ProductPrice
	        (ProductID,FromDate,ToDate,NetPrice) 
	        values
	        (@PId,GETDATE(),'2050-12-31',@PPrice)

	   end 

	If @choice ='Delete'
	   Begin
	        If EXISTS (select ProductID from tbl_QuotLiner where ProductID = @PId)
	        Begin
		    print 1
	          select @delete= 0;
		    End
	   Else
	        Begin
		    set @Back = (select ImgName from tbl_ProductImg where ProductID = @PId);
			
	        delete from tbl_Products where ProductID= @PId
			delete from tbl_ProductPrice where ProductID= @PId
			delete from tbl_ProductImg where ProductID= @PId
		    select @delete= 1;
	   End
     End

	If @choice ='cheakforId'
	   Begin
	        If EXISTS (select ProductID from tbl_Products where ProductID = @PId)
	           Begin
	               select @P= 0;
				   print @P;
		       End
	        Else
	           Begin
		           select @P= 1;
				   print @P;
	           End
     End

	 If @choice ='DeleteImg'
	   Begin
	        delete from tbl_ProductImg where ProductID= @PId and Position=@Position
       End

	 If @choice ='InsertImg'
	     If exists(select * from tbl_ProductImg where ProductID=@PId)
	         Begin
			     select @Post = max(Position)+1 from tbl_ProductImg where ProductID=@PId
	             --select @ProdID = MAX(ProductID) FROM tbl_Products
			     select @OldPostion=((select Position from tbl_ProductImg where ProductID=@PId)+1)
			          insert into tbl_ProductImg
	                  (Position,ProductID,ImgName,ImgPath) 
	                  values
	                  (@OldPostion,@PId,@ImgName,@ImgPath)
            End
	    else
			begin
			     set @Post =(select max(Position)+1 from tbl_ProductImg) --where ProductID=@Prod )
				 --select @ProdID = MAX(ProductID) FROM tbl_Products
                 insert into tbl_ProductImg
	             (Position,ProductID,ImgName,ProductColour,ImgPath) 
	             values
	             (@Post,@PId,@ImgName,@PColour,@ImgPath)
		    end


    if @choice= 'EditImg'
	begin
	   update tbl_ProductImg
	   set
	   ImgName=@ImgName,
	   ImgPath=@ImgPath
	   where ProductID=@PId and Position=@Position
	end


	if @choice= 'ProductImage'
	begin
	   select * from tbl_ProductImg Where @PId=ProductID
	end

	if @choice= 'Update'
	begin
		 if ((select top 1 
		    tbl_ProductPrice.FromDate from tbl_ProductPrice where tbl_ProductPrice.ProductID=@PId 
			order by FromDate desc)=GETDATE())
			begin

			UPDATE tbl_ProductPrice
			 set
			 NetPrice=@PPrice
			 where ProductID=@PId and FromDate=GETDATE()
			end

			else

			begin
			UPDATE tbl_ProductPrice
			SET ToDate=GETDATE()
		    where ProductID=@PId;

		    insert into tbl_ProductPrice
	        (ProductID,FromDate,ToDate,NetPrice)
	        values
		    (@PId,GETDATE(),'2050-12-31',@PPrice)
			end
	end
END
GO
/****** Object:  StoredProcedure [dbo].[SWQuot_Address]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SWQuot_Address]
	-- Add the parameters for the stored procedure here
	@addresscode nvarchar(50)=null
AS
BEGIN
select
	blto.Address1+ ',<br>'+blto.Address2+',<br>'+blto.Address3+',<br>'+blto.District+',<br>'+blto.City+',<br>'+blto.State+' - '+blto.Pincode+',<br>'+blto.Country as Billto
	from [SWQuot].[dbo].[tbl_CustomerAddress] blto where blto.AddressCode=@addresscode;
END
GO
/****** Object:  StoredProcedure [dbo].[SWQuot_AddtoLiner]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SWQuot_AddtoLiner] 
    @QuotID nvarchar(50) =null,
	@ProductID nvarchar(50) =null,
	@ProductName nvarchar(50) =null,
	@TaxCode nvarchar(50) =null,
	@CGST nvarchar(50) =null,
	@SGST nvarchar(50) =null,
	@totalprice nvarchar(50) =null,
	@FinalPrice nvarchar(50) =null,
	@position nvarchar(50) =null,
	@Qty Int =null,
	@Discount nvarchar(50)=null,
	@DiscountN nvarchar (50)=null,
	@DicoPri nvarchar(50)=null,
	@Taxes nvarchar(50)=null,
	@Quat nvarchar(50)=null,
	@TaxesInNum decimal(18,0)=null,
	@choice varchar(100)=null,
	@Amt decimal(18,0)=null


AS
BEGIN
	declare @Id bigint
	declare @todaydate date
	declare @PP decimal
	if @choice='add'
	begin

    If exists (select Position from tbl_QuotLiner where QuatId=@QuotID)
	     begin  
		   select @Id= max(Position)+1 from tbl_QuotLiner where QuatID=@QuotID
		 end
	Else
	      Begin
		    select @Id=1
		  end 
    set @todaydate = GETDATE();
	select @PP=(select Top 1 NetPrice from tbl_ProductPrice 
                            where 
							tbl_ProductPrice.ProductID = @ProductID and  
							@todaydate between FromDate and ToDate order by FromDate desc);

	      Insert into tbl_QuotLiner
		   (QuatId,Position,ProductID,ProductName, Qty, DiscountInPer,DiscountInRs,TotalPrice, ProductPrice,DiscountInNo,ModifiedDate)
		   values
		   (@QuotID,@Id,@ProductID,@ProductName,@Qty,@Discount,@DiscountN,@FinalPrice,@PP,@Amt,GETDATE())
		end

	if @choice='Update'
	  begin
	  update tbl_QuotLiner 
	       set
	         Qty=@Qty,
	         DiscountInPer=@DicoPri,
	         DiscountInRs=@DiscountN,
	         TotalPrice=@totalprice,
			 DiscountInNo=@Discount,
			 ModifiedDate=GETDATE()
	         
			 where QuatID=@Quat and Position=@position;
	  end
end
GO
/****** Object:  StoredProcedure [dbo].[SWQuot_AddtoQuot]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[SWQuot_AddtoQuot]
	@t_cuid nvarchar(10)=null,
	@billto nvarchar(15)=null,
	@shipto nvarchar(15)=null,
	@choice varchar(100)=null,
	@gst nvarchar(100)=null,
	@advance nvarchar(100)=null,
	@balance nvarchar(100)=null,
	@tax decimal(18,0)=null,
	@NetAmt decimal(18,0)=null,
	@DiscAmt decimal(18,0)=null,
	@Total decimal(18,0)=null,
	@InstallCost decimal(18,0)=null,
	@taxcode decimal(18,0)=null,
	@cgst decimal(18,0)=null,
	@sgst decimal(18,0)=null,
	@igst decimal(18,0)=null,
	@taxprice decimal(18,0)=null,
	@shipCost decimal(18,0)=null,
	@QuotId nvarchar(100)=null,
	@new_identity nvarchar(10)=null output,
	@Return nvarchar(50) output
	
AS
BEGIN

    declare @gross bigint
	declare @net bigint
	declare @TotalAmt bigint
	declare @QId nvarchar(50)
	SET NOCOUNT ON;

	if @choice='InsertIntoQuot'
	begin
	set @QId=(select Series + RIGHT('000000000' + CONVERT(nvarchar,No),6) from tbl_QuotId where Name='Quotation')

	        Insert into tbl_QuotHeader
		   (QuatID,CustID,QuotationDate,BillTo,ShipTo,ModifiedDate,Approved)
		   values
		   (@QId,@t_cuid,(select GETDATE()),@billto,@shipto,(select GETDATE()),'Pending')
		   set @Return=@QId;

		   begin
			update tbl_QuotId set No = No+1  where Series='QTA'
		   end
		   
	end
    
	if @choice='Update'
	begin 
	select @gross=(select sum((QL.Qty)*(PP.NetPrice)) as Price from tbl_ProductPrice PP
                   inner join tbl_QuotLiner QL on PP.ProductID=QL.ProductID
                   group by QL.QuatID
                   having QuatID=@QuotId);
    select @net=(@gross - @DiscAmt);
	select @TotalAmt=(@Total);


	    UPDATE tbl_QuotHeader
	        SET 
			GrossAmt=@gross,
			NetAmt=@net,
			TotalAmt=@TotalAmt,
            Advance=@advance,
			Balance=@balance,
			DiscountAmt=@DiscAmt,
	        [Taxcode]=@taxcode,
			CGST=@cgst,
			SGST=@sgst,
			IGST=@igst,
			TaxPrice=@taxprice,
			[ShipmentCost]=@shipCost,
			[IntallationCost]=@InstallCost
	        

		 where QuatID=@QuotId;
	     set @Return=@QuotId;
		 --return @Return
    end

	if @choice='CheckEdit'
	begin 

	If ((select Approved from tbl_QuotHeader where QuatID=@QuotId)='Approved')
	        begin  
		       select @Return = 1 
		    end
	Else
	        Begin
			  select @Return = 0 ;
		    end	 
    end

	if @choice='Edit'
	begin 
	        Begin
		      select @gross=(select sum((QL.Qty)*(PP.NetPrice)) as Price from tbl_ProductPrice PP
                   inner join tbl_QuotLiner QL on PP.ProductID=QL.ProductID
                   group by QL.QuatID
                   having QuatID=@QuotId);
              select @net=(@gross - @DiscAmt);
	          select @TotalAmt=(@Total);


	          UPDATE tbl_QuotHeader
	            SET 
			       GrossAmt=@gross,
			       NetAmt=@net,
			       TotalAmt=@TotalAmt,
                   Advance=@advance,
			       ModifiedDate=(select GETDATE()),
			       Balance=@balance,
			       DiscountAmt=@DiscAmt,
			       BillTo=@billto,
			       ShipTo=@shipto,
	               [Taxcode]=@taxcode,
			       CGST=@cgst,
			       SGST=@sgst,
			       IGST=@igst,
			       TaxPrice=@taxprice,
			       [ShipmentCost]=@shipCost,
			       [IntallationCost]=@InstallCost
		       where QuatID=@QuotId;

		      update tbl_Customers
		        set
		          BillTo=@billto,
		          ShipTo=@shipto
		       where CustID=(select CustID from tbl_QuotHeader where QuatID=@QuotId);


			  select @Return = 0 ;

		    end	 
    end

	if @choice='Approved'
	begin 
	    UPDATE tbl_QuotHeader
	        SET 
			Approved='Approved'
		 where QuatID=@QuotId;
		 
    end
	if @choice='Delete'
	begin 
	    If ((select Approved from tbl_QuotHeader where QuatID=@QuotId)='Approved')
	        begin  
		       select @Return = 1 
		    end
	    Else
	        Begin
		      delete from tbl_QuotHeader where QuatID=@QuotId
			  delete from tbl_QuotLiner where QuatID=@QuotId
			  select @Return = 0 
		    end 
    end
END
GO
/****** Object:  StoredProcedure [dbo].[SWQuot_AddUser]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[SWQuot_AddUser]
   @username nvarchar(50)=null,
   @password nvarchar(20)=null,
   @name nvarchar(50)=null,
   @mobno nvarchar(12)=null,
   @role nvarchar(20)=null,
   @choice varchar(100)=null,
   @Return nvarchar(50) output
AS
BEGIN
    if @choice='Add'
	begin
	If exists (select username from tbl_UserLogin where @username=UserName)
	     begin  
		    select @Return = 1
		 end
    else
        begin
	     insert into tbl_UserLogin
	     (UserName,Password,Name,MobNo,role)
	     values
	     (@username,@password,@name,@mobno,@role)

		 select @Return = 0
	end
	end

	if @choice='Edit'
        begin
	     UPDATE tbl_UserLogin
	        SET 
			Password=@password,
			Name=@name,
			MobNo=@mobno,
            role=@role
		 where UserName=@username;	
	end

	if @choice='Delete'
        begin
	     delete from tbl_UserLogin where UserName=@username 
	end

END
GO
/****** Object:  StoredProcedure [dbo].[SWQuot_AllQuotList]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SWQuot_AllQuotList]

AS
BEGIN
	select [QuatID],
	 (select CustName from tbl_Customers where tbl_Customers.CustID=tbl_QuotHeader.CustID),
	   [QuotationDate],
	   [TotalAmt],
	   [Advance],
	   [Balance],[Approved]
	  
	   from [tbl_QuotHeader]
END
GO
/****** Object:  StoredProcedure [dbo].[SWQuot_ChangePassword]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SWQuot_ChangePassword]
   @Username nvarchar(50)=null,
   @Pass nvarchar(20)=null,
   @name nvarchar(50)=null,
   @mob nvarchar(12)=null
	
AS
BEGIN
	       update tbl_UserLogin 
	       set
	         Password=@Pass,
	         Name=@name,
	         MobNo=@mob
	         
			 where UserName=@Username;
END
GO
/****** Object:  StoredProcedure [dbo].[SWQuot_CustomerQuot]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SWQuot_CustomerQuot]
	@Quat nvarchar(50),
	@Id nvarchar(50)=null,
	@choice varchar(100)=null,
	@gross varchar(50)=null,
	@dis varchar(50)=null,
	@net varchar(50)=null,
	@total varchar(50)=null,
	@adv varchar(50)=null,
	@bal varchar(50)=null,
	@tcode varchar(50)=null,
	@cgst varchar(50)=null,
	@sgst varchar(50)=null,
	@igst varchar(50)=null,
	@tprice varchar(50)=null,
	@scost varchar(50)=null,
	@icost varchar(50)=null,
	@cname varchar(50)=null,
	@mob varchar(50)=null,
	@amob varchar(50)=null,
	@mail varchar(50)=null,
	@dob varchar(50)=null,
	@gst varchar(50)=null,
	@Position varchar(50)=null,
	@cuid varchar(50)=null
AS
BEGIN
declare @billto int
declare @shipto int
    if @choice='GetList'
	  begin
	     select 
         cust.QuatID,
         cust.CustID,
         cust.QuotationDate,
		 cust.NetAmt,
		 cust.GrossAmt,
		 cust.DiscountAmt,
		 cust.TaxPrice,
		 cust.ShipmentCost,
		 cust.IntallationCost,
		 cust.TotalAmt,
		 cust.Advance,
		 cust.Balance,
		 customer.CustName,
		 customer.MobNo+' / '+customer.AltMobNo as MobileNo,
		 customer.EmailID,
		 customer.DOB,
		 customer.GSTNo,
		 (select MobNo from [tbl_UserLogin] where UserName=@id) as UserMobno,
		 blto.Address1+ ',<br>'+blto.Address2+',<br>'+blto.Address3+',<br>'+blto.District+',<br>'+blto.City+',<br>'+blto.State+' - '+shto.Pincode+',<br>'+blto.Country as Billto,
		 shto.Address1+',<br>'+shto.Address2+',<br>'+shto.Address3+',<br>'+shto.District+',<br>'+shto.City+',<br>'+shto.State+' - '+shto.Pincode+',<br>'+shto.Country as ShipTo,
		 customer.MobNo
	from tbl_QuotHeader cust  
    left outer join  [SWQuot].[dbo].[tbl_CustomerAddress] blto
    on (blto.AddressCode = cust.BillTo)
    left outer join  [SWQuot].[dbo].[tbl_CustomerAddress] shto
    on (shto.AddressCode = cust.ShipTo)
    left outer join  [SWQuot].[dbo].[tbl_Customers] customer
    on ( customer.CustID=cust.CustID)
    where cust.QuatID=@Quat



	  end

	if @choice='GetProduct'
	  begin
	  declare @todaydate date;
      set @todaydate = GETDATE();

	  SELECT tbl_Products.ProductName,
	         --tbl_ProductPrice.NetPrice,
			 (select Top 1 NetPrice from tbl_ProductPrice 
                            where 
							tbl_ProductPrice.ProductID = tbl_Products.ProductID and  
							@todaydate between FromDate and ToDate order by FromDate desc),
			 tbl_ProductImg.ImgName,
			 tbl_ProductImg.ProductColour,
			 tbl_QuotLiner.Qty,
			 tbl_QuotLiner.TotalPrice,
			 tbl_QuotLiner.Position,
			 tbl_QuotLiner.ProductPrice
             FROM tbl_Products 
             --inner JOIN tbl_ProductPrice
             --ON tbl_Products.ProductID=tbl_ProductPrice.ProductID
             inner JOIN tbl_ProductImg
             ON tbl_Products.ProductID=tbl_ProductImg.ProductID and tbl_ProductImg.Position=1 
             inner JOIN tbl_QuotLiner
             ON tbl_Products.ProductID=tbl_QuotLiner.ProductID and tbl_QuotLiner.QuatID=@Quat;
	  end

	if @choice='Details'
	  begin
	  SELECT qu.QuatID,
	   qu.CustID,
       qu.QuotationDate,
	   qu.BillTo,
	   qu.ShipTo,
	   qu.GrossAmt,
	   qu.DiscountAmt,
	   qu.NetAmt,
	   qu.TotalAmt,
	   qu.Advance,
	   Qu.Balance,
	   Qu.Taxcode,
	   (select taxname from tbl_Taxes where Taxcode=Qu.Taxcode),
	   qu.CGST,
	   qu.SGST,
	   qu.IGST,
	   Qu.TaxPrice,
	   qu.ShipmentCost,
	   qu.IntallationCost,
	   cu.CustName,
	   cu.MobNo,
	   cu.AltMobNo,
	   cu.EmailID,
	   Cu.DOB,
	   cu.GSTNo,
	   tx.TaxName
       FROM tbl_QuotHeader Qu
       INNER JOIN tbl_Customers Cu
       ON qu.CustID = Cu.CustID 
       inner join tbl_Taxes tx
       on qu.Taxcode= tx.TaxCode where Qu.QuatID=@Quat;
	  end

	  if @choice='Update'
	  begin
	  update tbl_QuotHeader 
	       set
	         BillTo=@billto,
	         ShipTo=@shipto,
	         GrossAmt=@gross,
	         DiscountAmt=@dis,
	         NetAmt=@net,
	         TotalAmt=@total,
	         Advance=@adv,
	         Balance=@bal,
	         Taxcode=@tcode,
	         CGST=@cgst,
	         SGST=@sgst,
	         IGST=@igst,
	         TaxPrice=@tprice,
	         ShipmentCost=@scost,
	         IntallationCost=@icost
			 where QuatID=@Quat;

	  update tbl_Customers 
	  set
	         BillTo=@billto,
	         ShipTo=@shipto
			 where CustID=@cuid;
	  end

	  if @choice='DeleteProduct'
	  begin
	    delete from tbl_QuotLiner where QuatID=@Quat and Position=@Position
	  end

	  if @choice='AllQuotList'
	  begin
	    select [QuatID],
	   [QuotationDate],
	   [TotalAmt],
	   [Advance],
	   [Balance],
	   (select CustName from tbl_Customers where tbl_Customers.CustID=tbl_QuotHeader.CustID)
	   from [tbl_QuotHeader]
	  end
END
GO
/****** Object:  StoredProcedure [dbo].[SWQuot_EditAddress]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SWQuot_EditAddress]
   @Address nvarchar(100)=null,
   @city nvarchar(100)=null,
   @district nvarchar(100)=null,
   @state nvarchar(100)=null,
   @country nvarchar(100)=null,
   @Add1 nvarchar(100)=null,
   @Add2 nvarchar(100)=null,
   @Add3 nvarchar(100)=null,
   @Pincode nvarchar(10)=null,
   @choice varchar(100)=null,
   @Return nvarchar(50) output
AS
BEGIN
	SET NOCOUNT ON;
	If @choice='Delete'
	   begin
	        select BillTo,ShipTo from tbl_QuotHeader
			If exists (select ShipTo from tbl_QuotHeader where ShipTo= @Address
                        union all
                       select BillTo from tbl_QuotHeader where BillTo= @Address)
	              begin  
		             select @Return = 0
		          end
	        Else
	              Begin
		          Delete from tbl_CustomerAddress where AddressCode=@Address
				  select @Return = 1
		    end 
	  end

	If @choice='Edit'
	   begin
	       update tbl_CustomerAddress 
	       set
	         City=@city,
	         [District]=@district,
	         [State]=@state,
	         [Country]=@country,
			 [Address1]=@Add1,
			 [Address2]=@Add2,
			 [Address3]=@Add3,
			 Pincode=@Pincode
	         
			 where AddressCode=@Address;
	  end
   
END
GO
/****** Object:  StoredProcedure [dbo].[SWQuot_EditProduct]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SWQuot_EditProduct]
	@Quat nvarchar(50)=null,
	@DicoPer nvarchar(50)=null,
	@Qty nvarchar(50)=null,
	@DiscountN nvarchar(50)=null,
	@totalprice nvarchar(50)=null,
	@Discount nvarchar(50)=null,
	@position nvarchar(50)=null
AS
BEGIN
	begin
	  update tbl_QuotLiner 
	       set
	         Qty=@Qty,
	         DiscountInPer=@DicoPer,
	         DiscountInRs=@DiscountN,
	         TotalPrice=@totalprice,
			 DiscountInNo=@Discount,
			 ModifiedDate=GETDATE()
	         
			 where QuatID=@Quat and Position=@position;
	  end
END
GO
/****** Object:  StoredProcedure [dbo].[SWQuot_GetProductPrice]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SWQuot_GetProductPrice]
	@ProdId nvarchar(50)
AS
BEGIN
declare @todaydate date;
set @todaydate = GETDATE();
select Top 1 NetPrice from tbl_ProductPrice 
                            where 
							tbl_ProductPrice.ProductID = @ProdId and  
							@todaydate between FromDate and ToDate order by FromDate desc

    
END
GO
/****** Object:  StoredProcedure [dbo].[SWQuot_GetUserQuot]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[SWQuot_GetUserQuot]
	@addcode nvarchar(50)=null
AS
BEGIN
	select 
	blto.Address1+ ',<br>'+blto.Address2+',<br>'+blto.Address3+',<br>'+blto.District+',<br>'+blto.City+',<br>'+blto.State+',<br>'+blto.Country as Billto
	from [SWQuot].[dbo].[tbl_CustomerAddress] blto where blto.AddressCode=@addcode
END
GO
/****** Object:  StoredProcedure [dbo].[SWQuot_ProdPriceHistory]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SWQuot_ProdPriceHistory]

AS
BEGIN
	  select [ID]
      ,tbl_ProductPrice.ProductID
      ,[FromDate]
      ,[ToDate]
      ,[NetPrice]
	  ,tbl_Products.ProductName,
	  tbl_Products.ProductCatogery from tbl_ProductPrice
       inner join tbl_Products on tbl_ProductPrice.ProductID=tbl_Products.ProductID
END
GO
/****** Object:  StoredProcedure [dbo].[SWQuot_ProductDDL]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SWQuot_ProductDDL]
      (@PId nvarchar(20)=null)
AS
BEGIN

    -- Insert statements for procedure here
	SELECT ProductId,ProductName from tbl_Products where ProductID=@PId or @PId is null 
END
GO
/****** Object:  StoredProcedure [dbo].[SWQuot_ProductDetails]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SWQuot_ProductDetails] 
	@ProductId nvarchar(50)
AS
BEGIN
declare @todaydate date;
set @todaydate = GETDATE();

	(select  tbl_Products.ProductID,
			         tbl_Products.ProductName,
                     tbl_Products.ProductCatogery,
					 tbl_Products.UOM,
					 tbl_Products.Height,
					 tbl_Products.Width,
					 tbl_Products.Depth,
					 tbl_Products.Thickness,
					 tbl_ProductImg.ProductColour,
					 (select Top 1 NetPrice from tbl_ProductPrice
                      where ProductID=@ProductId and @todaydate between FromDate and ToDate order by ToDate desc)
             from tbl_Products, tbl_ProductImg  WHERE tbl_Products.ProductID = @ProductId and tbl_ProductImg.ProductID= @ProductId)

END 
GO
/****** Object:  StoredProcedure [dbo].[SWQuot_ProductList]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SWQuot_ProductList]
	--@ProductId nvarchar(50),
	@return nvarchar(100)=null OUTPUT
AS
 declare @todaydate date
 set @todaydate =GETDATE()
BEGIN
		   select tbl_Products.ProductID,
		          tbl_Products.ProductName,
				  tbl_ProductImg.ProductColour,
		          tbl_Products.ProductCatogery,
				  tbl_Products.[Height],
				  tbl_Products.[Width],
				  tbl_Products.[Depth],
				  tbl_Products.[Thickness],
				  tbl_Products.[UOM],
				  (select top 1 netprice from tbl_ProductPrice
					where tbl_Products.ProductID= tbl_ProductPrice.ProductID 
					and  @todaydate between FromDate and ToDate 
					order by ToDate desc)
			from tbl_Products
			inner join tbl_ProductImg on tbl_Products.ProductID=tbl_ProductImg.ProductID 
			and tbl_ProductImg.Position=1;

END
GO
/****** Object:  StoredProcedure [dbo].[SWQuot_StateDDL]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SWQuot_StateDDL] 
	(@SId nvarchar(20)=null)
AS
BEGIn

	SELECT StateID,StateName from tbl_States where StateID=@SId or @SId is null 
END
GO
/****** Object:  StoredProcedure [dbo].[SWQuot_Taxes]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SWQuot_Taxes] 
	@getcode int=null
AS
BEGIN
    SELECT SUM(Taxper) 
    FROM tbl_TaxesComponent where tbl_TaxesComponent.TaxCode=@getcode;
END
GO
/****** Object:  StoredProcedure [dbo].[SWQuot_UserDetails]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[SWQuot_UserDetails]
	-- Add the parameters for the stored procedure here
	@UserId nvarchar(50)=null,
	@choice nvarchar(50)=null
AS
BEGIN
	if @choice='Detail'
	begin
	--SELECT
 --         tbl_SharedView.MenuPath,
 --         tbl_SharedView.MenuName
 --   FROM tbl_UserLogin
 --         JOIN tbl_UserViews
 --   ON tbl_UserViews.Role = tbl_UserLogin.role
 --         and tbl_UserLogin.UserName= @UserId
 --         JOIN tbl_SharedView
	--	  ON tbl_SharedView.MenuCode = tbl_UserViews.MenuCode
	SELECT
          tbl_SharedView.MenuPath,
          tbl_SharedView.MenuName
    FROM tbl_UserLogin
          JOIN tbl_UserViews
    ON tbl_UserViews.Role = tbl_UserLogin.role
          and tbl_UserLogin.UserName= @UserId
          JOIN tbl_SharedView
		  ON tbl_SharedView.MenuCode = tbl_UserViews.MenuCode
	end

	if @choice='UserDetail'
	begin
	Select tbl_UserLogin.Name,
	       tbl_UserLogin.Image 
		   from tbl_UserLogin where tbl_UserLogin.UserName=@UserId
	end
END
GO
/****** Object:  StoredProcedure [dbo].[SWQuot_UserLogin]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SWQuot_UserLogin]
     @t_usid nvarchar(50),
	 @t_pass nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    --select distinct UserName,Password as t_levl  from tbl_WorkerLogins
	SELECT distinct UserName,Password,Name,Image,UserRole FROM  tbl_UserLogin
	join tbl_UserRole on tbl_UserLogin.role=tbl_UserRole.UserRole
	WHERE UserName=@t_usid and Password =  @t_pass
END
GO
/****** Object:  StoredProcedure [dbo].[SWQuot_UserProductList]    Script Date: 01-02-2023 15:41:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SWQuot_UserProductList]
AS
BEGIN
	SELECT 
	     tbl_Products.ProductID,
		 tbl_Products.ProductName,
		 tbl_ProductPrice.NetPrice,
		 tbl_ProductImg.ImgName,
		 tbl_ProductImg.ImgPath
    FROM tbl_Products
          JOIN tbl_ProductImg
    ON tbl_Products.ProductID = tbl_ProductImg.ProductID
          JOIN tbl_ProductPrice
    ON tbl_Products.ProductID = tbl_ProductPrice.ProductID

END
GO
USE [master]
GO
