
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/User/AddUser.js"></script>
<link href="~/plugins/sweetalert2/sweetalert2.css" rel="stylesheet" />
<script src="~/plugins/sweetalert2/sweetalert2.js"></script>
<script src="~/plugins/toastr/toastr.min.js"></script>
<link href="~/plugins/toastr/toastr.min.css" rel="stylesheet" />
<!-- Sweet Alert JS -->
<link href="~/plugins/sweetalert2/sweetalert2.css" rel="stylesheet" />
@*<link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />*@
<script src="~/plugins/sweetalert2/sweetalert2.js"></script>

@*<div style="visibility:hidden"></div>*@

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Add User</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/Home/Dashboard">Home</a></li>
                    <li class="breadcrumb-item active">Add User</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<div class="row">
    
    <div class="col-sm-6">
        <div class="card card-primary">
            <div class="card-header">
                @*<h3 class="card-title">Add User Details</h3>*@
                <h3 class="card-title">
                    <i class="fa fa-plus" style="font-size:18px"></i>
                    &nbsp; Add User Details
                </h3>
            </div>
            <form>
                <div class="card-body">
                    <div class="form-group">
                        <label class="col-sm-10 col-form-label">Name</label>
                        <input type="text" class="form-control" autocomplete="off" maxlength="50" placeholder="Enter Name" id="UserName">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-10 col-form-label">Mobile No</label>
                        <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                               type="number" class="form-control" onchange="CheckValidPhoneno();" placeholder="Enter Mobile No" id="MobNo" maxlength="10" />
                    </div>
                    <div class="form-group">
                        <label class="col-sm-10 col-form-label">User Name</label>
                        <center><input type="text" class="form-control" autocomplete="off" maxlength="50" placeholder="Enter UserId" id="UserId"></center>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-10 col-form-label">Password</label>
                        <input type="password" class="form-control" autocomplete="off" maxlength="50" placeholder="Enter Password" id="Password">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-10 col-form-label">Role</label>
                        <select class="form-control select2" id="ddlrole" placeholder="Select a Role" onselect="this.value">
                            <option>Admin</option>
                            <option>User</option>
                        </select>
                    </div>
                    <div class="form-group" style="margin-left: -27px;">
                            <input id="Btnsuccess" class="btn btn-secondary" type="button" value="Back" href="~/Home/Dashboard" onclick="back();" style="margin-left: 30px" />&ensp;
                            <input id="Btnsuccess1" class="btn btn-secondary" type="button" value="Add user" onclick="AddUser()" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</div>

<script>
    function back() {
 
        window.location.href = "/Home/Dashboard";
    }
</script>