
@{
    ViewBag.Title = "Changepassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
@*<script src="~/Scripts/User/AddUser.js"></script>*@
<link href="~/plugins/sweetalert2/sweetalert2.css" rel="stylesheet" />
<script src="~/plugins/sweetalert2/sweetalert2.js"></script>
<script src="~/plugins/toastr/toastr.min.js"></script>
<link href="~/plugins/toastr/toastr.min.css" rel="stylesheet" />
<!-- Sweet Alert JS -->
<link href="~/plugins/sweetalert2/sweetalert2.css" rel="stylesheet" />
@*<link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />*@
<script src="~/plugins/sweetalert2/sweetalert2.js"></script>

@*<div style="visibility:hidden"></div>*@

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Change Password</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/Home/Dashboard">Home</a></li>
                    <li class="breadcrumb-item active">Change Password</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-lock" style="font-size:18px"></i>
                    &nbsp; Change Password
                </h3>
            </div>
            <form>
                <div class="card-body">
                    <div class="form-group">
                        <label class="col-sm-10 col-form-label">User Name</label>
                        <center><input type="text" class="form-control" autocomplete="off" maxlength="50" value="@Session["userId"].ToString()" id="UserId" readonly></center>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-10 col-form-label">Name</label>
                        <input type="text" class="form-control" autocomplete="off" maxlength="50" placeholder="Enter Name" id="Name">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-10 col-form-label">Mobile No</label>
                        <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                               type="number" class="form-control" onchange="CheckValidPhoneno();" placeholder="Enter Mobile No" id="MobNo" maxlength="10" />
                    </div>
                    <div class="form-group">
                        <label class="col-sm-10 col-form-label">Old Password</label>
                        <input type="password" class="form-control" autocomplete="off" maxlength="50" placeholder="Enter Password" id="Password">
                        <input type="password" class="form-control" autocomplete="off" maxlength="50" placeholder="Enter Password" id="EPass" style="display:none">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-10 col-form-label">New Password</label>
                        <input type="password" class="form-control" autocomplete="off" maxlength="50" placeholder="Enter Password" id="NPassword">
                    </div>
                    <div class="form-group" style="margin-left: -27px;">
                        <input id="Btnsuccess" class="btn btn-secondary" type="button" value="Back" href="~/Home/Dashboard" onclick="back();" style="margin-left: 30px" />&ensp;
                        <input id="Btnsuccess1" class="btn btn-secondary" type="button" value="Save" onclick="Editdata()" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>

<script>
    function back() {
        window.location.href = "/Home/Dashboard";
    }
</script>

<script>
    $(document).ready(function () {
        getJSessionId();
    });

    function getJSessionId() {
        debugger
        var ID = '@Session["userId"].ToString()';
        let url = "../home/userDetails";
        $.ajax({
            type: "POST",
            url: url,
            data: '{ID:"' + ID + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (response) {
                debugger
                if (response != null) {
                    $("#Name").val(response[0].Name);
                    $("#MobNo").val(response[0].Mob);
                    $("#EPass").val(response[0].Password);
                    return response;
                }
                else {
                    return false;
                }
                return response;
            },
            error: function (response) {
                Swal.fire({
                    icon: 'error',
                    title: 'Something went Wrong',
                    text: response,
                });
            }
        });
    }

    function cheakpassword() {
        debugger
        if ($("#EPass").val() == $("#Password").val()) {
            
            return true;
        }
        else {
            toastr.error('Password does not match with UserID');
            $("#Password").focus();
            return false;
        }
    };

    function matchpassword() {
        debugger
        if ($("#Password").val() == $("#NPassword").val()) {
            return true;
        }
        else {
            toastr.error('Password does not match with old password');
            $("#NPassword").focus();
            return false;
        }
    };

    var Editdata = function () {
        debugger
        cheakpassword();
        /*matchpassword();*/
        
        var id = '@Session["userId"].ToString()';
        var name = $("#Name").val()
        var mob = $("#MobNo").val()
        var pass = $("#NPassword").val()

        var model = {
            ID: id,
            Name: name,
            Mob: mob,
            Pass: pass
        };
        $.ajax({
            url: "../home/chgpassword ",
            method: "post",
            data: JSON.stringify(model),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            async: false,
            success: function (response) {
                console.log(response);
                toastr.success('Changes Completed');
            },
            error: function (model) {
                Swal.fire({
                    icon: 'error',
                    title: 'Something went Wrong',
                    text: model,
                });
            }
        });
    };
</script>