
@{
    ViewBag.Title = "EditQuot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/Customers/EditQuot.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<!-- Sweet Alert JS -->
<link href="~/plugins/sweetalert2/sweetalert2.css" rel="stylesheet" />
@*<link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />*@
<script src="~/plugins/sweetalert2/sweetalert2.js"></script>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>All Quotation</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/Home/Dashboard">Home</a></li>
                    <li class="breadcrumb-item active">EditQuot</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <center><h5><label class="col-sm-10 col-form-label" style="margin-top: -20px; padding-left: 150px; margin-right: -87px; margin-top: -3px; margin-top: -4px; margin-left: -181px ">Quot.Id</label></h5></center>
                    <input type="text" class="form-control" autocomplete="off" maxlength="50" id="QuotId" style="margin-right: -60px; margin-top: -5px; position: absolute; width: 132px; margin-left: 105px" readonly>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="content">
    <div class="container-fluid" id="Container">
        <div class="col-sm-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Customer Details</h3>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-10 col-form-label">Customer Name</label>
                                        <div class="col-sm-11">
                                            <input type="text" class="form-control" autocomplete="off" maxlength="100" id="Txtname" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-10 col-form-label">Mobile No</label>
                                        <div class="col-sm-11">
                                            <input type="text" class="form-control" autocomplete="off" maxlength="100" id="Txtmob" readonly>
                                            <input type="text" class="form-control" autocomplete="off" maxlength="100" placeholder="Enter Address" id="Txt_Prod" style="display:none">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-10 col-form-label" style="margin-left: 3px">Bill To</label>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <input type="text" class="form-control" autocomplete="off" maxlength="50" placeholder="Bill To Address" id="ExtBill" style="margin-left: 7px; width: 210px" onchange="cheakTaxes();">
                                                <button type="button" data-toggle="modal" value="0" class="btn btn-secondary btn-sm input-button" style="height: 37.99px; width: 37.99px; transform: translateX(258px); position: absolute; " id="btn-sa-confirm" onclick="billtoModal();"><i class="nav-icon fas fa-plus-circle"></i></button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label id="EBTo" style="padding-left: 30px;" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-10 col-form-label" style="margin-left: 9px">Ship To</label>
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <input type="text" class="form-control" autocomplete="off" placeholder="Ship To Address" id="ExtShip" style="margin-left: 17px; width: 210px " onchange="cheakTaxes();">
                                            <button type="button" data-toggle="modal" value="0" class="btn btn-secondary btn-sm input-button" style="height: 37.99px; width: 37.99px; transform: translateX(267px); position: absolute; " id="shipto" onclick="shiptoModal();"><i class="nav-icon fas fa-plus-circle" style=" margin-left: -5px"></i></button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label id="ESTo" style="padding-left: 30px; margin-left: 10px;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fa fa-list"></i>&nbsp;
                                    Product List
                                </h3>
                                <div class="card-tools">
                                    <ul class="nav nav-pills ml-auto">
                                        <li class="nav-item">
                                            <a class="btn  bg-gradient-secondary" onclick="AddModal();" style="height: 34px; width: 110px;">
                                                <i class="fa fa-fw fa-plus-circle"></i>&nbsp;Add
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <form>
                                <div class="tab-content" id="custom-tabs-three-tabContent">
                                    <div class="tab-pane fade show active table-responsive p-0" id="custom-tabs-three-home" role="tabpanel" aria-labelledby="custom-tabs-three-home-tab" style="margin-top: -15px;">
                                        &nbsp;
                                        <center>
                                            <table id="tblQuotation" class="table table-bordered table-striped" width="98%">
                                                <thead>
                                                    <tr>
                                                        <th><center>SrNo.</center></th>
                                                        <th><center>Product ID</center></th>
                                                        <th><center>Product Name</center></th>
                                                        <th><center>Quantity</center></th>
                                                        <th><center>Units</center></th>
                                                        <th><center>PerProductPrice</center></th>
                                                        <th><center>Discount In %</center></th>
                                                        <th><center>Discounted Price</center></th>
                                                        <th><center>Discounted Price</center></th>
                                                        <th><center>Position</center></th>
                                                        <th><center>Delete Product</center></th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th>Total</th>
                                                        <th></th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </center>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Taxes and Others</h3>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-10 col-form-label">Taxes</label>
                                            <div class="col-sm-11">
                                                <select class="form-control select2" id="ddlTaxes" onselect="this.value"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" id="GST">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-10 col-form-label">CGST</label>
                                                    <div class="col-sm-11">
                                                        <input class="form-control" autocomplete="off" maxlength="50" id="Txt_CGST" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-10 col-form-label">SGST</label>
                                                    <div class="col-sm-11">
                                                        <input class="form-control" autocomplete="off" maxlength="50" id="Txt_SGST" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" id="IGST">
                                        <div class="form-group">
                                            <label class="col-sm-10 col-form-label">IGST</label>
                                            <div class="col-sm-11">
                                                <input class="form-control" autocomplete="off" maxlength="50" id="Txt_IGST" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="col-sm-10 col-form-label">Total Tax</label>
                                        <div class="col-sm-11">
                                            <input type="number" class="form-control" autocomplete="off" maxlength="50" placeholder="" id="Txt_totaltax" readonly>
                                            <input type="number" class="form-control" autocomplete="off" maxlength="50" placeholder="" id="Txt_Tc" style="display:none">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-10 col-form-label">Transport Cost</label>
                                        <div class="col-sm-11">
                                            <input type="number" class="form-control" autocomplete="off" maxlength="50" min="0" value="0" oninput="validity.valid||(value='');" placeholder="0" id="Txttrasport">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="col-sm-10 col-form-label">Installation Cost</label>
                                        <div class="col-sm-11">
                                            <input type="number" class="form-control" autocomplete="off" oninput="validity.valid||(value='');" value="0" maxlength="50" min="0" placeholder="0" id="TxtInstall">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-10 col-form-label">Total Price(Included Taxes)</label>
                                        <div class="col-sm-11">
                                            <input class="form-control" autocomplete="off" maxlength="50" id="Txt_Th" readonly>
                                            <input class="form-control" autocomplete="off" maxlength="50" id="Txt_FPrice1" style="display:none">
                                        </div>
                                    </div>
                                    <div class="form-group" style="display:none">
                                        <label class="col-sm-10 col-form-label">Total Price</label>
                                        <div class="col-sm-11">
                                            <input type="number" class="form-control" autocomplete="off" maxlength="50" placeholder="" id="Total" readonly>
                                            <input type="number" class="form-control" autocomplete="off" maxlength="50" placeholder="" id="Ex" readonly>
                                            <input type="number" class="form-control" autocomplete="off" maxlength="50" placeholder="" id="Txt_GPri" readonly>
                                            <input type="number" class="form-control" autocomplete="off" maxlength="50" placeholder="" id="Txt_DisAmt" style="display:none">
                                            <input type="number" class="form-control" autocomplete="off" maxlength="50" placeholder="" id="TxtPER" style="display:none">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="col-sm-10 col-form-label">Advance</label>
                                        <div class="form-group">
                                            <div class="col-sm-11">
                                                <input type="number" class="form-control" autocomplete="off" maxlength="50" min="0" value="0"  oninput="validity.valid||(value='');" placeholder="0" id="Txtt_adva">
                                                @*<input type="number" class="form-control" autocomplete="off" maxlength="50" min="0" value="0"  oninput="validity.valid||(value='');" placeholder="Transport Cost" id="Txttrasport">*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-10 col-form-label">Balance</label>
                                        <div class="form-group">
                                            <div class="col-sm-11">
                                                <input type="number" class="form-control" autocomplete="off" maxlength="50" placeholder="" id="Txtt_bala" readonly>
                                                <input type="number" class="form-control" autocomplete="off" maxlength="50" placeholder="" id="bala" style="display:none">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="form-group">
                                    <div class="row">
                                        <input id="Btnsuccess" class="btn btn-secondary" type="button" value="Back" href="~/Home/Dashboard" onclick="back();" style="margin-left: 6px" />&ensp;
                                        <center><button class="btn btn-secondary" data-dismiss="modal" aria-hidden="true" onclick="Editdata()">Save</button></center>
                                        <input id="Btnsuccess" class="btn btn-secondary" type="button" value="Print" onclick="PrintQuot();" style="margin-left: 6px" />&ensp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function back() {
        debugger
        window.location.href = "/Home/Dashboard";
    }

    function PrintQuot() {
        debugger
        var QuotId = $('#QuotId').val();
        window.location.href = "/Customers/Quot?QuotId=" + QuotId;
    };
</script>



<div class="modal fade" id="BillModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-address-card" aria-hidden="true"></i>&nbsp;
                        Select Address
                    </h3>
                    <div class="card-tools">
                        <ul class="nav nav-pills ml-auto">
                            <li class="nav-item">
                                <a class="btn  bg-gradient-secondary" onclick="AddbillAddress();" style="height: 34px; width: 139px;">
                                    <i class="fa fa-fw fa-plus-circle"></i>&nbsp;Add Address
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content" id="custom-tabs-three-tabContent" style="margin-left: 16px;">
                    <div class="tab-pane fade show active table-responsive p-0 " id="custom-tabs-three-home" role="tabpanel" aria-labelledby="custom-tabs-three-home-tab">
                        &nbsp;
                        <table id="tblBill" class="table table-bordered table-striped" style="width:97%"><thead></thead></table>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <div class="row" style="margin-left: -2px">
                            <button class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ShipModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-address-card" aria-hidden="true"></i>&nbsp;
                        Select Address
                    </h3>
                    <div class="card-tools">
                        <ul class="nav nav-pills ml-auto">
                            <li class="nav-item">
                                <a class="btn  bg-gradient-secondary" onclick="AddShipAddress();" style="height: 34px; width: 139px;">
                                    <i class="fa fa-fw fa-plus-circle"></i>&nbsp;Add Address
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content" id="custom-tabs-three-tabContent" style="margin-left: 16px;">
                    <div class="tab-pane fade show active table-responsive p-0" id="custom-tabs-three-home" role="tabpanel" aria-labelledby="custom-tabs-three-home-tab">
                        &nbsp;
                        <table id="tblShip" class="table table-bordered table-striped" style="width:97%"><thead></thead></table>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <div class="row" style="margin-left: -2px">
                            @*<button class="btn btn-secondary" aria-hidden="true" onclick="Edit()">Save</button>&emsp;*@
                            <button class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddbillAddress" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-address-card" aria-hidden="true"></i>&nbsp;
                        Add New Address
                    </h3>
                    <div class="card-tools">
                        <ul class="nav nav-pills ml-auto">
                            <li class="nav-item">
                                <i class="fa fa-window-close" aria-hidden="true" data-dismiss="modal" style="padding-top: 6px;"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-10 col-form-label">Address 1</label>
                                    <div class="col-sm-11">
                                        <input type="text" class="form-control" autocomplete="off" maxlength="100" placeholder="Enter Address" id="Txtt_cadd" >
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-10 col-form-label">Address 2</label>
                                    <div class="col-sm-11">
                                        <input type="text" class="form-control" autocomplete="off" maxlength="100" placeholder="Enter Address" id="Txtt_cadd2">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-10 col-form-label">Address 3</label>
                                        <div class="col-sm-11">
                                            <input type="text" class="form-control" autocomplete="off" maxlength="100" placeholder="Enter Address" id="Txtt_cadd3" >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-10 col-form-label">Country</label>
                                        <div class="col-sm-11">
                                            <select name="ddlcountry" class="form-control select2" id="ddlcountry" onselect="this.value" onclick="BindState()" onchange="BindState()">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-10 col-form-label" >State</label>
                                        <div class="col-sm-11">
                                            <select class="form-control select2" id="ddlStates" onselect="this.value" onchange="BindCity();"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-10 col-form-label">City</label>
                                        <div class="col-sm-11">
                                            <select class="form-control select2" id="ddlCity" onselect="this.value"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-10 col-form-label">District</label>
                                        <div class="col-sm-11">
                                            <input type="text" class="form-control" autocomplete="off" placeholder="Enter District" maxlength="100" id="Txtt_dist">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-10 col-form-label">Landmark</label>
                                        <div class="col-sm-11">
                                            <input type="text" class="form-control" autocomplete="off" maxlength="50" placeholder="Enter Landmark" id="TxtLandmark">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-10 col-form-label" style="margin-left: -6px">Pincode</label>
                                    <div class="col-sm-12">
                                        <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                               type="number" class="form-control" placeholder="Enter Pincode" id="TxtPincode" maxlength="6" style="margin-left: -5px"  />
                                    </div>
                                </div>
                        </div>
                        <div class="card-footer">
                            <div class="form-group">
                                <div class="row">
                                     <center><button class="btn btn-secondary" aria-hidden="true" onclick="addbillAddress()" style="margin-left: 5px;">Add Address</button></center>&emsp;
                                     <center><button class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Close</button></center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddShipAddress" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-address-card" aria-hidden="true"></i>&nbsp;
                        Add New Address
                    </h3>
                    <div class="card-tools">
                        <ul class="nav nav-pills ml-auto">
                            <li class="nav-item">
                                <i class="fa fa-window-close" aria-hidden="true" data-dismiss="modal" style="padding-top: 6px;"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-10 col-form-label" >Address 1</label>
                                    <div class="col-sm-11">
                                        <input type="text" class="form-control" autocomplete="off" maxlength="100" placeholder="Enter Address" id="Txtt_cadds">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-10 col-form-label">Address 2</label>
                                    <div class="col-sm-11">
                                        <input type="text" class="form-control" autocomplete="off" maxlength="100" placeholder="Enter Address" id="Txtt_cadd2s">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-10 col-form-label">Address 3</label>
                                        <div class="col-sm-11">
                                            <input type="text" class="form-control" autocomplete="off" maxlength="100" placeholder="Enter Address" id="Txtt_cadd3s">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-10 col-form-label">Country</label>
                                        <div class="col-sm-11">
                                            <select name="ddlcountry" class="form-control select2" id="ddlcountrys" onselect="this.value" onclick="BindStates()" onchange="BindStates();" >
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-10 col-form-label">State</label>
                                        <div class="col-sm-11">
                                            <select class="form-control select2" id="ddlStatess" onselect="this.value" onchange="BindCitys();"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-10 col-form-label">City</label>
                                        <div class="col-sm-11">
                                            <select class="form-control select2" id="ddlCitys" onselect="this.value"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-10 col-form-label">District</label>
                                        <div class="col-sm-11">
                                            <input type="text" class="form-control" autocomplete="off" placeholder="Enter District" maxlength="100" id="Txtt_dists">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-10 col-form-label">Landmark</label>
                                        <div class="col-sm-11">
                                            <input type="text" class="form-control" autocomplete="off" maxlength="50" placeholder="Enter Landmark" id="TxtLandmarks">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="col-sm-10 col-form-label" style="margin-left: -6px">Pincode</label>
                                <div class="col-sm-12">
                                    <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                           type="number" class="form-control" placeholder="Enter Pincode" id="TxtPincodes" maxlength="6" style="margin-left: -5px" />
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="form-group">
                                <div class="row">
                                    <center><button class="btn btn-secondary" data-dismiss="modal" aria-hidden="true" onclick="addshipAddress()" style="margin-left: 5px;">Add Address</button></center>&emsp;
                                    <center><button class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Close</button></center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" href="#">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                            &nbsp; Add Product
                    </h3>
                    <div class="card-tools">
                        <ul class="nav nav-pills ml-auto">
                            <li class="nav-item">
                                <i class="fa fa-window-close" aria-hidden="true" data-dismiss="modal" style="padding-top: 6px;"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-10 col-form-label">Select Product</label>
                                <div class="col-sm-11">
                                    <select class="form-control select2" id="ddlproduct" onselect="this.value" onchange="GetPrice();"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-10 col-form-label">Product Price</label>
                                <div class="col-sm-11">
                                    <input type="number" class="form-control" autocomplete="off" maxlength="50" placeholder="Price" id="Txt_Price" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-10 col-form-label">No of Units</label>
                                <div class="col-sm-11">
                                    <input type="number" class="form-control" autocomplete="off" maxlength="50" placeholder="No of Units" oninput="validity.valid||(value='');" onkeypress='return event.charCode >= 48 && event.charCode <= 57' id="Txtt_No">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-10 col-form-label">Total Price</label>
                                <div class="col-sm-11">
                                    <input type="number" class="form-control" autocomplete="off" maxlength="50" id="Txt_netamount" style="display:none">
                                    <input type="number" class="form-control" autocomplete="off" maxlength="50" id="Txt_TPrice1" style="display:none">
                                    <input type="number" class="form-control" autocomplete="off" maxlength="50" id="Txt_TPrice" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-10 col-form-label">Discount In %</label>
                                    <div class="col-sm-11">
                                        <input type="number" class="form-control" autocomplete="off" max="100" min="0" value="0" id="Txt_Dis" placeholder="0">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-10 col-form-label">Discount In No.</label>
                                    <div class="col-sm-11">
                                        <input type="number" class="form-control" autocomplete="off" placeholder="0" value="0" maxlength="50" id="Txt_DisN">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="col-sm-10 col-form-label" style="margin-left: -6px">Net Price</label>
                            <div class="col-sm-12" style="width:auto">
                                <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                       type="number" class="form-control" id="Txt_DisP"  readonly style="margin-left: -5px" />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <div class="row" style="margin-left: -1px">
                                <button class="btn btn-secondary" aria-hidden="true" onclick="addtoliner()">Add</button>&emsp;
                                <button class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Editmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" href="#">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-edit"></i>&nbsp;
                        Edit Product
                    </h3>
                    <div class="card-tools">
                        <ul class="nav nav-pills ml-auto">
                            <li class="nav-item">
                                <i class="fa fa-window-close" aria-hidden="true" data-dismiss="modal" style="padding-top: 6px;"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-10 col-form-label">Product Name</label>
                                <div class="col-sm-11">
                                    <input type="text" class="form-control" autocomplete="off" maxlength="50" placeholder="Price" id="edtname" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6" style="display:none">
                            <div class="form-group">
                                <label class="col-sm-10 col-form-label">Product Name</label>
                                <div class="col-sm-11">
                                    <input type="text" class="form-control" autocomplete="off" maxlength="50" placeholder="Price" id="id" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6" style="display:none">
                            <div class="form-group">
                                <label class="col-sm-10 col-form-label">Product Name</label>
                                <div class="col-sm-11">
                                    <input type="text" class="form-control" autocomplete="off" maxlength="50" placeholder="Price" id="postion" readonly style="margin-left: 8px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-10 col-form-label">Price</label>
                                <div class="col-sm-11">
                                    <input type="number" class="form-control" autocomplete="off" maxlength="50" placeholder="Price" id="Price" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-10 col-form-label">No of Units</label>
                                <div class="col-sm-11">
                                    <input type="number" class="form-control" autocomplete="off" maxlength="50" placeholder="No of Units" oninput="validity.valid||(value='');" onkeypress='return event.charCode >= 48 && event.charCode <= 57' id="No">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-10 col-form-label">Total Price</label>
                                <div class="col-sm-11">
                                    <input type="number" class="form-control" autocomplete="off" maxlength="50" id="Txt_netamount" style="display:none">
                                    <input type="number" class="form-control" autocomplete="off" maxlength="50" id="Txt_TPrice1" style="display:none">
                                    <input type="number" class="form-control" autocomplete="off" maxlength="50" id="TPrice" readonly>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-10 col-form-label">Discount In %</label>
                                    <div class="col-sm-11">
                                        <input type="number" class="form-control" placeholder="0" autocomplete="off" maxlength="2" max="100" min="0" id="Dis">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-10 col-form-label">Discount In No.</label>
                                    <div class="col-sm-11">
                                        <input type="number" class="form-control" placeholder="0" autocomplete="off" maxlength="50" id="DisN">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="col-sm-10 col-form-label" style="margin-left: -6px">Final Price</label>
                            <div class="col-sm-12" style="width:auto">
                                <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                       type="number" class="form-control" id="Txt_Disprice" placeholder="Discounted price" readonly style="margin-left: -5px" />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <div class="row" style="margin-left: -2px">
                                <button class="btn btn-secondary" aria-hidden="true" onclick="EditP()">Save</button>&emsp;
                                <button class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditAddress" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" href="#">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-edit"></i>&nbsp;
                        Edit Address
                    </h3>
                    <div class="card-tools">
                        <ul class="nav nav-pills ml-auto">
                            <li class="nav-item">
                                <i class="fa fa-window-close" aria-hidden="true" data-dismiss="modal" style="padding-top: 6px;"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-10 col-form-label" style="margin-left: 11px">Address Code</label>
                                <div class="col-sm-11">
                                    <input type="text" class="form-control" autocomplete="off" maxlength="50"  id="Acode" readonly style="margin-left: 8px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-10 col-form-label" style="margin-left: 11px;">Customer Name</label>
                                <div class="col-sm-11">
                                    <input type="text" class="form-control" autocomplete="off" maxlength="50"  id="Aname" readonly style="margin-left: 8px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-10 col-form-label"  style="margin-left: 11px">Address 1</label>
                                <div class="col-sm-11">
                                    <input type="text" class="form-control" autocomplete="off" maxlength="50"  id="AAdd1" style="margin-left: 8px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-10 col-form-label"  style="margin-left: 11px;">Address 2</label>
                                <div class="col-sm-11">
                                    <input type="text" class="form-control" autocomplete="off" maxlength="50"  id="AAdd2" style="margin-left: 8px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-10 col-form-label" style="margin-left: 11px">Address 3</label>
                                <div class="col-sm-11">
                                    <input type="text" class="form-control" autocomplete="off" maxlength="50"  id="AAdd3" style="margin-left: 8px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-10 col-form-label"  style="margin-left: 11px;">Country</label>
                                <div class="col-sm-11">
                                    <select name="ddlcountry" class="form-control select2" id="ddlEcountry" placeholder="Select Country" onchange="BindEState();" onclick="BindEState();" onselect="this.value" style="margin-left: 8px;">
                                        <option value="" disabled selected>Select Country</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-10 col-form-label" style="margin-left: 11px">State</label>
                                    <div class="col-sm-11">
                                        <select name="ddlcountry" class="form-control select2" id="ddlEStates" onchange="BindECity();" onselect="this.value" style="margin-left: 8px;"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-10 col-form-label"  style="margin-left: 11px;">City</label>
                                    <div class="col-sm-11">
                                        <select name="ddlcountry" class="form-control select2" id="ddlECity" onselect="this.value" style="margin-left: 8px;"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-10 col-form-label" style="margin-left: 11px">District</label>
                                    <div class="col-sm-11">
                                        <input type="text" class="form-control"  autocomplete="off" maxlength="2" max="100" min="0" id="ADist" style="margin-left: 8px;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-10 col-form-label"  style="margin-left: 11px;">Pincode</label>
                                    <div class="col-sm-11">
                                        <input type="number" class="form-control" autocomplete="off" maxlength="50" id="APin" style="margin-left: 8px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <div class="row" style="margin-left: -2px">
                                <button class="btn btn-secondary" aria-hidden="true" onclick="EditADD()">Save</button>&emsp;
                                <button class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#ddlTaxes").on("change", function () {
            if (parseInt($("#ddlTaxes").val()) == 2) {
                $("#IGST").hide();
                $("#GST").show();
            } else {
                $("#IGST").show();
                $("#GST").hide();
            }
        });
        $("#ddlTaxes").trigger("change");
    });
</script>

<script>
    $(document).on("change keyup blur", "#Dis", "#DisN", function () {
        
        var main = $('#TPrice').val();
        var disc = $('#Dis').val();
        var dec = (disc / 100).toFixed(2);
        var mult = main * dec;
        var discont = main - mult;
        $('#DisP').val(discont);
        $('#Txt_Disprice').val(discont);

        if (parseInt($("#Dis").val()) == "") {
            var disN = $('#DisN').val();
            var netprice = main - disN;
            $('#Txt_netamount').val(netprice);

        } else {
            var netprice = main - discont;
            $('#Txt_netamount').val(netprice);

        }
    });
</script>


<script>
    $(document).on("change keyup blur", "#DisN", function () {
        
        var main = $('#TPrice').val();
        var disN = $('#DisN').val();
        var discont = main - disN;
        $('#Txt_Disprice').val(discont);
        
    });
</script>

<script>
    var closeadd = function () {
        
        $('#AddNewAddressModal').modal('toggle');
    };

    var closeship = function () {
        
        $('#ShipModal').modal('hide');
    };

    var close = function () {
        
        $("ShipModal").modal("hide");
        $("ShipModal").remove();
        //$('.modal').removeClass('show');
    };
</script>

<script>
    $(document).on("change keyup blur", "#Txtt_adva", function () {
        var i = $("#Txt_Th").val();
        $("#Txtt_bala").val(i);
        $("#bala").val(i);
        var bala = $("#bala").val();
        var bal = $("#bala").val();
        var adv = $("#Txtt_adva").val();
        var total = bal - adv;
        $("#Txtt_bala").val(total);
    });
</script>

<script type="text/javascript">
    $(function () {
        $("#chk").click(function () {
            if ($(this).is(":checked")) {
                var ShipAddress = $("#BillAddress").val();
                $("#ShipAddress").val(ShipAddress);
                GetCode0(ShipAddress);
            } else {
                $("#ShipAddress").val();
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#No,#Price").keyup(function () {
            
            var total = 0;
            var x = Number($("#Price").val());
            var y = Number($("#No").val());
            var total = x * y;
            $("#TPrice").val(total);
            $("#Txt_Disprice").val(total);
            if ($('#Dis').val() == '0' && $('#DisN').val() == '0') {
                
            }
            else if ($('#Dis').val() != '0') {
                var main = $('#TPrice').val();
                var disc = $('#Dis').val();
                var dec = (disc / 100).toFixed(2);
                var mult = main * dec;
                var discont = main - mult;
                $('#DisP').val(discont);
                $('#Txt_Disprice').val(discont);

                if (parseInt($("#Dis").val()) == "") {
                    var disN = $('#DisN').val();
                    var netprice = main - disN;
                    $('#Txt_netamount').val(netprice);

                 } else {
                    var netprice = main - discont;
                    $('#Txt_netamount').val(netprice);

                 }

            }
            else {
                var main = $('#TPrice').val();
                var disN = $('#DisN').val();
                var discont = main - disN;
                $('#Txt_Disprice').val(discont)
            }

            if (parseInt($("#Txt_Disprice").val()) < 0) {
                $("#Txt_Disprice").val('0');
                $("#DisN").val('0');
                $("#Dis").val('0');
            }
        });
    });
</script>

<script>
    function billtoModal() {
        getAddress();
        getAddress1();
        $('#myModal').modal('toggle');
        $("#BillModal").modal('show');
        BindState();
        BindStates();
        BindECountry();
    };

    function shiptoModal() {
        getAddress();
        getAddress1();
        $('#myModal').modal('toggle');
        $("#ShipModal").modal('show');
        BindState();
        BindStates();
        BindECountry();
    };

    function AddbillAddress() {
        $("#AddbillAddress").modal('show');
    };

    function AddShipAddress() {
        $("#AddShipAddress").modal('show');
    };
</script>

<script>
    $(document).ready(function () {
        $("#Txt_Dis").keyup(function () {
            
            if ($("#Txt_Dis").val().length == 0) {
                $("#Txt_DisN").attr("disabled", false);
            }
            else {
                $("#Txt_DisN").attr("disabled", true);
            }
        });
    });
    $(document).ready(function () {
        $("#Txt_DisN").keyup(function () {
            
            if ($("#Txt_DisN").val().length == 0) {
                $("#Txt_Dis").attr("disabled", false);
                return true;
            }
            else {
                $("#Txt_Dis").attr("disabled", true);
                return true;
            }
        });
    });

    $(document).ready(function () {
        $("#Dis").keyup(function () {
            
            if ($("#Dis").val().length == 0) {
                $("#DisN").attr("disabled", false);
            }
            else {
                $("#DisN").attr("disabled", true);
            }
            if ($("#Dis").val() == 0) {
                $("#Dis").attr("disabled", false);
            }
            else {
                $("#DisN").val("");
                $("#Dis").attr("disabled", false);
            }
        });
    });
    $(document).ready(function () {
        $("#DisN").keyup(function () {
            
            if ($("#DisN").val().length == 0) {
                $("#Dis").attr("disabled", false);
            }
            else {
                $("#Dis").attr("disabled", true);
            }
            if ($("#DisN").val() == 0) {
                $("#DisN").attr("disabled", false);
            }
            else {
                $("#Dis").val("");
                $("#DisN").attr("disabled", false);
            }
        });
    });

</script>