
@{
    Layout = null;
}

<head>
    <meta name="viewport" content="width=1100px, initial-scale=1" />
    <meta property="og:title" content="Sales Mate" />
    <meta property="og:description" id="metasalesname" content="">
    <meta property="og:image" itemprop="image" content="https://bla123.neocities.org/mp/images/thumbs/IMG_327.JPG" />
    <meta property="og:locale" content="en_GB" />

    <title id="usrname"></title>

    <!-- iCheck for checkboxes and radio inputs -->
    @*<script src="~/Scripts/jquery-3.3.1.js"></script>*@
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
     @*Bootstrap Color Picker*@ 
    <link rel="stylesheet" href="~/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
     @*Tempusdominus Bootstrap 4*@ 
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
     @*Font Awesome*@ 
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
     @*Bootstrap4 Duallistbox*@ 
    <link rel="stylesheet" href="~/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
     @*iCheck*@ 
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
     @*Select2*@ 
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
     @*BS Stepper*@ 
    <link rel="stylesheet" href="~/plugins/bs-stepper/css/bs-stepper.min.css">
     @*JQVMap*@ 
    <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
     @*dropzonejs*@ 
    <link rel="stylesheet" href="~/plugins/dropzone/min/dropzone.min.css">
     @*Theme style*@ 
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
     @*overlayScrollbars*@ 
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
     @*Daterange picker*@ 
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
     @*summernote*@ 
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css">

    <link rel="icon" src="~/favicon.ico" />
     @*Google Font: Source Sans Pro*@ 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

     @*DataTables*@ 
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

</head>

<script>
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();

    today = mm + '/' + dd + '/' + yyyy;
</script>

<style>
    #myDIV {
        width: 100%;
        height: 83px;
        background-color: #FFFFFF;
        border-bottom: 3px solid;
        border-bottom-style: solid;
    }
</style>

<style>
    .vl {
        border-left: 3px solid black;
        /*height: 500px;*/
    }

    .center {
        display: block;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<STYLE TYPE="text/css">
    .breakhere {
        page-break-after: always
    }
</STYLE>

<style type="text/css">
    body {
        counter-reset: Serial;
    }

    tr td:first-child:before {
        counter-increment: Serial;
        content: counter(Serial);
    }
</style>
<script src="~/Scripts/Customers/WhatappQuot.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<br>
<body>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="container-fluid" id="create_pdf">
                <div class="card card-warning card-outline" @*style="position:fixed"*@>
                    <div id="content">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div>
                                        <h3 style="margin-left: -8px;">&nbsp;&nbsp; WISHLIST DETAILS</h3>
                                        &nbsp;&nbsp; Date&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;:-&emsp;@Html.Label("txtFrmDate", DateTime.Now.ToString("dd-MMM-yyyy"))<br>
                                        &nbsp;&nbsp; Contact Person&emsp;:-&emsp;<label id="ID"></label><br>
                                        &nbsp;&nbsp; Contact No&emsp;&emsp;&ensp;&nbsp;:-&emsp;<label id="MobNo"></label><br>
                                        &nbsp;&nbsp; Quot ID&emsp;&emsp;&emsp;&emsp;&nbsp;:-&emsp;<label id="QuotId"></label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <center><img src="~/images/logo-header.png" style="width: auto; height: 50.6px;" class="center" /></center>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row" style="margin-left:10px ; margin-left:35px">
                                <div class="col-sm-6">
                                    <br />
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    &nbsp; Name : &nbsp;<label id="CustName" style="margin-left: 22px" />
                                </div>
                                <div class="col-sm-6">
                                    <br />
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    &nbsp; Email :<label id="Email" style="margin-left: 18px" />
                                </div>
                            </div>
                            <div class="row" style="margin-left:10px ; margin-left:35px">
                                <div class="col-sm-6">
                                    <br />
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    &nbsp; Mobile No. : &nbsp;<label id="PhoneNo" />
                                                              <label id="m" style="margin-left: 18px;" />
                                </div>
                                <div class="col-sm-6">
                                    <br />
                                    <i class="fa fa-calculator" aria-hidden="true"></i>
                                    &nbsp; GST NO : &nbsp;<label id="Gst" style="margin-left: 18px" />
                                </div>
                            </div>
                            <div class="row" style="margin-left:10px ; margin-left:35px">
                                <div class="col-sm-6">
                                    <br />
                                    <i class="fa fa-address-card" aria-hidden="true"></i>
                                    &nbsp; Bill To Adddress :<br>
                                    &nbsp;<label id="BillTo" style="margin-left: 26px;" />
                                </div>
                                <div class="col-sm-6">
                                    <br />
                                    <i class="fa fa-address-card" aria-hidden="true"></i>
                                    &nbsp; Ship To Adddress :<br>
                                    &nbsp;<label id="ShipTo" style="margin-left: 26px" />
                                </div>
                            </div>
                        </div>
                        @*<br>*@

                        <center><hr width="97%" color="black" style="margin-top: 3px"/></center>

                        <div class="vl" style="margin-left: 33px;">
                            <h3>&nbsp;&nbsp;WISHLIST ITEMS</h3>
                        </div>

                        @*<div class="card" style="padding: 11px; font-size: 18px; margin-left: 20px;">*@
                            <div class="card-body p-0" >
                                <center>
                                <table id="tblQuotProduts" class="table table-striped" style="width:96%">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px; padding-bottom: 37px; ">#</th>
                                            <th style="padding-bottom: 37px;">Product Name</th>
                                            <th style="width: 137px">Per Product Price</th>
                                            <th style=" width: 137px">Product Colour</th>
                                            <th style="width: 10px; padding-bottom: 37px;">Quantity</th>
                                            <th style=" width: 137px">Discounted Price</th>
                                            <th style=" width: 137px">Product Image</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                </center>
                            </div>
                        @*</div>*@
                        <center><hr width="97%" color="black" /></center>

                        <P CLASS="breakhere">
                            <div class="row">
                                <div class="col-sm-7" style="padding:40px; margin-top:-20px">
                                    <div class="vl">
                                        <h3>&nbsp;&nbsp;BAJAJ FINANCE SCHEME</h3>
                                    </div>
                                    <center>
                                        <table>
                                            <tr>
                                                <th>Scheme</th>
                                                <th>ROI</th>
                                                <th>No of EMI</th>
                                                <th>DP</th>
                                                <th>EMI</th>
                                            </tr>
                                            <tr>
                                                <td>9 x 3</td>
                                                <td>6%</td>
                                                <td>6</td>
                                                <td>₹ 13,025</td>
                                                <td>₹ 3,443</td>
                                            </tr>
                                            <tr>
                                                <td>12 x 4</td>
                                                <td>7%</td>
                                                <td>8</td>
                                                <td>₹ 13,366</td>
                                                <td>₹ 2,583</td>
                                            </tr>
                                            <tr>
                                                <td>10 x 2</td>
                                                <td>8%</td>
                                                <td>8</td>
                                                <td>₹ 9,544</td>
                                                <td>₹ 3,099</td>
                                            </tr>
                                            <tr>
                                                <td>18 x 6</td>
                                                <td>9%</td>
                                                <td>12</td>
                                                <td>₹ 13,986</td>
                                                <td>₹ 1,722</td>
                                            <tr>
                                                <td>8 x 0</td>
                                                <td>10%</td>
                                                <td>8</td>
                                                <td>₹ 3,025</td>
                                                <td>₹ 3,443</td>
                                            </tr>
                                        </table>
                                    </center>
                                </div>
                                <div class="col-sm-5" style="margin-top: 65px; padding-right: 40px; text-align: left;">
                                    <center>
                                        <TABLE border="1">
                                            <TR>
                                            <TR><TH>Gross Amount<TD>Rs.<label id="GAmt" />
                                            <TR><TH>Discounted Amount<TD>Rs.<label id="Discount" />
                                            <TR><TH>Net Amount<TD>Rs.<label id="NetAmt" />
                                            <TR><TH>Taxes GST(18%)<TD>Rs.<label id="Tax" />
                                            <TR><TH>Shipping Cost<TD>Rs.<label id="ShipCost" />
                                            <TR><TH>Installation Cost<TD>Rs.<label id="IntallCost" />
                                            <TR><TH>Total Amount<TD>Rs.<label id="Total" />
                                            <TR><TH>Advance<TD>Rs.<label id="Adv" />
                                            <TR><TH>Balance<TD>Rs.<label id="Bal" />
                                        </TABLE>
                                    </center>
                                </div>
                            </div>
                            <center><hr width="97%" color="black" /></center>

                            <div class="row">
                                <div class="col-sm-6" style="padding:40px; margin-top:-20px">
                                    <div class="vl">
                                        <h4>&nbsp;&nbsp;TERMS & CONDITIONS </h4>
                                    </div>
                                    1)&emsp;Prices are inclusive of taxes.<br>
                                    2)&emsp;Payment made by cheque shall be subject to realisation of cheque.<br>
                                    3)&emsp;Prices are inclusive of taxes.<br>
                                    4)&emsp;Delivery of goods shall be effected after atleast 2 days of payment.<br>
                                    5)&emsp;Minimum two days for installation after delivery <br>
                                    6)&emsp;No refund shall be allowed, No return of material allowed.<br>
                                    7)&emsp;Delay in payments attract 24% interest p.a.<br>
                                    8)&emsp;No Warranty on Sofa & Dining.<br>
                                    9)&emsp;This prices mentioned in this quotation are valid for 15 days.
                                </div>
                                <div class="col-sm-6" style="margin-top: 20px; padding-right: 40px; text-align: left;">
                                    <div class="vl">
                                        <h3>&nbsp;&nbsp;OUR BANK DETAILS </h3>
                                    </div>
                                    <TABLE>
                                        <TR>
                                        <TR><TH>Name<TD>Spacewood Furnishers Pvt Ltd
                                        <TR><TH>Bank<TD>Union Bank Of India
                                        <TR><TH>Branch<TD>Dhantoli, Nagpur
                                        <TR><TH>A/C No.<TD>366005010000307
                                        <TR><TH>RTGS/IFSC<TD>UBIN0536601
                                    </TABLE>
                                </div>
                            </div>

                            <center><hr width="97%" color="black" /></center>
                        <P CLASS="breakhere">
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-sm-4" style="padding: 35px; margin-top: -38px; margin-right: -20px">
                                    <div class="vl">
                                        <h5>&nbsp;&nbsp;<label id="Display1" />:-</h5>
                                    </div>
                                    <TABLE border="1">
                                        <TR><TH style="font-size: 14px">Mob No<TD style="font-size:14px, "> <label id="Mob1" style="font-size: 14px" />
                                        <TR><TH style="font-size: 14px">Mail<TD style="font-size: 14px"><h12><label id="Email1" /></h12>
                                    </TABLE>
                                </div>
                                <div class="col-sm-4" style="padding: 35px; margin-top: -38px; text-align: left; margin-right: -20px">
                                    <div class="vl">
                                        <h5>&nbsp;&nbsp;<label id="Display2" />:-</h5>
                                    </div>
                                    <TABLE border="1">
                                        <TR><TH style="font-size: 14px">Mob No<TD style="font-size:14px, "> <label id="Mob2" style="font-size: 14px" />
                                        <TR><TH style="font-size: 14px">Mail<TD style="font-size: 14px"><h12><label id="Email2" /></h12>
                                    </TABLE>
                                </div>
                                <div class="col-sm-4" style="padding: 35px; margin-top: -38px; text-align: left; margin-right: -20px">
                                    <div class="vl">
                                        <h5>&nbsp;&nbsp;<label id="Display3" />:-</h5>
                                    </div>
                                    <TABLE border="1">
                                        <TR><TH style="font-size: 14px">Mob No<TD style="font-size:14px, "> <label id="Mob3" style="font-size: 14px; padding-right:90px" />
                                        <TR><TH style="font-size: 14px">Mail<TD style="font-size: 14px"><h12><label id="Email3" /></h12>
                                    </TABLE>
                                </div>
                            </div>
                            <label id="filename" style="display:none" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</body>



